@import "../Utilidades/Extend";
@import "../Utilidades/mixin";
@import "../Utilidades/variables";

// Header

header {
    background-color: $color-principal;

    .logo-empresa {
        max-width: 240px;
    }
}

// Estilo del main

.main-ofertas {
    .titulo-ofertas-principal {
        .h1-ofertas {
            text-align: center;
            padding: 30px;
        }
    }

    .container-imagenes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        gap: 120px;
        padding: 50px;

        .item {
            .descuento {
                color: purple
            }

            img {
                width: 100%;
                height: auto;
            }

            button {
                @include estilo-boton;
            }
        }
    }
}